.team {
  margin-bottom: 50px;
}

.team h2 {
  padding-bottom: 10px;
}
.team li.unit {
  vertical-align: bottom;
  text-align: center;

  .dropdown-menu {
    text-align: left;
  }
}

.unit {
  .img-polaroid {
    text-align: center;
    vertical-align: center;
  }

  .bar-precentage {
    float: left;
    position: absolute;
    color: white;
  }
}
